# Local Shapefiles and binary zip archives (kept local to avoid git bloat)
goldens/**/*.zip
goldens/**/*.shp
goldens/**/*.dbf
goldens/**/*.shx
goldens/**/*.prj
goldens/**/*.cpg
goldens/**/*.qix
release/*.zip
__pycache__/
